<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
                a{color:white;}

                h1{font-family:cursive;}
                img{border-radius:50%}
                p{font-family: monospace}

    </style>
  </head>
  <body style="background: darkblue;color:yellow">
  <div>
    <center><h1>Welcome to PHPCODEHERO.com</h1><center>
    <%= image_tag @user.image_url %><br><h1><%= @user.name %></h1>
    <p>
      You have successfully signed up to PHPCODEHERO,
      To login to the site, just follow this link: <%= @url%>.<br>
      This is your first step towards becoming a successful programmer.<br>
      Things are going to get tough, but don't give up.
      Thanks for joining in. Live,Learn,Grow!!
      </p>
    </div>
  </body>
</html>
