// Place all the styles related to the levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.correct::after{
  content: "correct";
}
.correct.hides::after{
  display: none;
}
