// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-logo: 'Bangers', cursive;
$font-text: 'Marvel', sans-serif;
$font-header: 'Droid Serif', serif;

$dark-grey: #1A1E26;
$light-blue: #0E5B9E;
$dark-blue: #0E3659;
$yellow: #F2C131;
$red: #AC1F1F;
// Body/Overall Page styleing
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $dark-blue;
}
//*********************************************************************
//Header styling
header {
  top: 0;
  display: block;
  position: fixed;
  width: 100%;
  background-color: $light-blue;
  box-shadow: 0px 5px 35px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 5px 35px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 35px -5px rgba(0,0,0,0.75);
  div {
    display: inline-block;
    padding: 40px;
    h1{
      font-size: 3em;
      text-shadow: rgb(3, 3, 3) 5px 4px 8px;
      font-family: $font-logo;
      margin: 0;
      letter-spacing: 0.1em;
      float: left;
      color: $yellow;
    }
  }
  nav {
    float: right;
    margin: 1% 3%;
    ul {
      list-style: none;
      margin-top: 30%;
      padding: 0;
      li {
        a {
          text-decoration: none;
          color: $red;
          font-family: $font-text;
          font-size: 2em;
          text-shadow: rgb(3, 3, 3) 4px 4px 13px;
        }
      }
    }
  }
}

//*********************************************************************
// Container placement
.container {
  margin-top: 135px;

//*********************************************************************
// Main Section Styling
  section {
  display: inline-block;
  width: 70%;
  float: left;
  h1 {
    display: inline-block;
    font-size: 3em;
    font-family: $font-header;
    color: white;
  }
  p {
    display: inline-block;
    width: 80%;
    font-family: $font-text;
    font-size: 1.5em;
    margin-bottom: 10%;
  }
  div {
    background-color: $light-blue;
    display: block;
    margin: 1% auto;
    padding: 3%;
    width: 80%;
    color: white;
    border-radius: 27px 27px 27px 27px;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;
    border: 2px solid $red;

    h2 {
    margin: 2% auto;
    font-size: 2em;
    font-family: $font-header;
    }
    ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    font-family: $font-text;
    font-size: 1.5em;
    li {
      margin: 2% 0;
      div {
        border: 2px solid $yellow;
        border-radius: 27px 27px 27px 27px;
        -moz-border-radius: 27px 27px 27px 27px;
        -webkit-border-radius: 27px 27px 27px 27px;
      }
      }
    }
  }
}
//*********************************************************************
// Aside Section Styling
  aside {
  padding: 3%;
  background-color: $dark-grey;
  display: inline-block;
  width: 20%;
  min-height: 100%;
  float: right;
  box-shadow: -3px 0px 25px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px 0px 25px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 0px 25px -1px rgba(0,0,0,0.75);
    .aside_form {
      width: 100%;
      h2 {
        display: inline-block;
        margin: 2% auto;
        font-size: 2em;
        font-family: $font-header;
        color: white;
      }
      p {
        display: inline-block;
        font-family: $font-text;
        color: white;
        font-size: 1.5em;
        margin-bottom: 1%;
      }
      a {
        text-decoration: none;
        font-family: $font-text;
        color: $yellow;
      }

    }
    .aside_users {
      width: 100%;
      margin-top: 5%;
      border-top: 2px solid $red;
      h2 {
        display: inline-block;
        margin-top: 20%;
        font-size: 2em;
        font-family: $font-header;
        color: white;
      }
      hr {
          border: 1px solid $yellow;
        }
      ul {
        list-style: none;
        font-family: $font-text;
        color: white;
        font-size: 1.5em;
        padding: 0;
        hr {
          border: 1px solid $red;
        }
      }
      img {
        border-radius: 50%;
      }
    }
  }
}
//*********************************************************************
// Signup Styling
.signupcontainer {
  margin-top: 160px;
}
.signup {
  width: 80%;
  margin: 0 auto;
  background-color: $light-blue;
  border-radius: 27px 27px 27px 27px;
  -moz-border-radius: 27px 27px 27px 27px;
  -webkit-border-radius: 27px 27px 27px 27px;
  padding: 2%;
  color: white;
  h1 {
    font-family: $font-header;
    margin: 1%;
  }
  form {
    font-family: $font-text;
    width: 80%;
    margin: 0 auto;
  }
}
//*********************************************************************
// Show Styling
.showcontainer {
  margin-top: 160px;
  color: white;
  padding: 2%;
  .showinfo {
    border-radius: 27px 27px 27px 27px;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;
    padding: 2%;
    width: 80%;
    background-color: $dark-grey;
    margin: 0 auto;
    h2 {
      font-family: $font-header
    }
    img {
      border-radius: 50%;
    }
    a {
      text-decoration: none;
        font-family: $font-text;
        color: $yellow;
    }
  }
}
//*********************************************************************
// Edit Styling
.editcontainer {
  margin-top: 160px;
}
.edit {
  width: 80%;
  margin: 0 auto;
  background-color: $light-blue;
  border-radius: 27px 27px 27px 27px;
  -moz-border-radius: 27px 27px 27px 27px;
  -webkit-border-radius: 27px 27px 27px 27px;
  padding: 2%;
  color: white;
  h1 {
    font-family: $font-header;
    margin: 1%;
  }
  p {
    font-family: $font-text;
    width: 80%;
    margin: 0 auto;
  }
}


//Clearfix
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
