// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-header: 'Bangers', cursive;
$font-text: 'Marvel', sans-serif;

$dark-grey: #1A1E26;
$light-blue: #0E5B9E;
$dark-blue: #0E3659;
$yellow: #F2C131;
$red: #AC1F1F;
