// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-logo: 'Bangers', cursive;
$font-text: 'Marvel', sans-serif;
$font-header: 'Droid Serif', serif;

$dark-grey: #1A1E26;
$light-blue: #0E5B9E;
$dark-blue: #0E3659;
$yellow: #F2C131;
$red: #AC1F1F;
// Body/Overall Page styleing
body {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: $dark-blue;
}
//*********************************************************************
//Header styling
header {
  background-color: $light-blue;
  box-shadow: 0px 5px 35px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 5px 35px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 35px -5px rgba(0,0,0,0.75);
  div {
    display: inline-block;
    padding: 40px;
    h1{
      font-size: 3em;
      text-shadow: rgb(3, 3, 3) 5px 4px 8px;
      font-family: $font-logo;
      margin: 0;
      letter-spacing: 0.1em;
      float: left;
      color: $yellow;
    }
  }
}

//*********************************************************************
// Main Section Styling
section {
  display: inline-block;
  width: 70%;
  float: left;
  h1 {
    display: inline-block;
    margin: 0 auto;
    font-size: 3em;
    font-family: $font-header;
    color: white;
  }
  p {
    display: inline-block;
    margin: 0 auto;
  }

}
//*********************************************************************
// Aside Section Styling
aside {
  display: inline-block;
  width: 30%;
  float: right;
}
