<header>
  <div>
    <h1>PHPCodeHero</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
  <% flash.each do |key, value| %>
     <%= content_tag(:p, value) %>
<% end %>
</header>
